/* GENERAL SETTINGS */
:root {
    --color-p: rgb(31, 31, 31);
    --color-p2: rgb(15, 15, 15);
    --color-s: rgb(235, 235, 235);
    --color-s2: rgb(255, 255, 255);
    --color-a: rgb(238, 205, 89);
}

* {
    font-family: "Rubik", sans-serif;
}

.title {
    font-family: "Audiowide", sans-serif;
}

.color-p {
    color: var(--color-p);
}

.color-s {
    color: var(--color-s);
}

.color-a {
    color: var(--color-a);
}

.bg-p {
    background-color: var(--color-p);
}

.bg-p2 {
    background-color: var(--color-p2);
}

.bg-s {
    background-color: var(--color-s);
}

.bg-a {
    background-color: var(--color-a);
}

/* NAVBAR */
.navbar {
    height: 6rem;
    transition: 0.5s;
}

.nav-logo {
    width: 4rem;
}

.nav-link {
    color: var(--color-s) !important;
    position: relative;
    transition: 0.2s ease-in-out;
}

.nav-link:hover {
    text-shadow: 0 0 15px var(--color-a);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: var(--color-a);
    transition: 0.2s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link:focus {
    text-shadow: 0 0 15px var(--color-a);
}

.nav-link.active {
    color: var(--color-s2) !important;
}

.dropdown-menu {
    left: -21% !important;
    background-color: var(--color-p);
    border: 1px solid var(--color-s);
}

.dropdown-item {
    color: var(--color-s);
}

.dropdown-item:hover {
    color: var(--color-s2);
    background-color: var(--color-p);
}

.navbar-icon {
    transition: 0.2s ease-in-out;
}

.navbar-icon:hover {
    transform: scale(1.1);
}

.nav-scrolled {
    background-color: rgba(31, 31, 31, 0.908);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 5px var(--color-s);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas.offcanvas-start {
    top: 6rem;
}

/* PROMO BAR */
.promo-bar {
    top: 6rem;
    height: 4rem;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
}

.btn-close:focus {
    box-shadow: none;
}

.promo-hidden {
    height: 0 !important;
}

/* HEADER */
.margin-navbar {
    padding-top: 9rem;
}

.header-bg {
    background-color: var(--color-a);
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.header-title {
    color: var(--color-s2);
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 4rem);
    animation: shadow 2s infinite alternate;
}

.carousel {
    height: calc(80vh - 16rem);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.carousel-img {
    height: calc(80vh - 16rem);
    width: auto;
    max-width: 100%;
    object-fit: contain;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.remove-promo {
    height: calc(80vh - 12rem);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    width: 50px;
    height: 50px;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-p2);
}

/* CATEGORIES */
#categories {
    scroll-margin-top: 13rem;
}

.category-title {
    color: var(--color-s2);
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 4rem);
}

.card-category {
    border: 2px solid var(--color-s);
    aspect-ratio: 1/0.7;
    background: linear-gradient(var(--color-p) 0%, var(--color-s) 50%, var(--color-p) 100%);
    background-size: 100% 200%;
    background-position: bottom center;
    transition: background-position 0.5s ease, border 0.5s ease;
}

.card-category:hover {
    border: 2px solid var(--color-a);
    background-position: top center;
}

.category-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* STATS */
.counter {
    display: block;
    min-height: 1.2em;
}

/* FOOTER */
.footer-hr {
    height: 1px;
    border: none;
    background: linear-gradient(to right,
            transparent,
            var(--color-s),
            transparent);
}

.footer-icon {
    transition: 0.2s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.3);
}

/* KEYFRAMES */
@keyframes shadow {
    0% {
        text-shadow: 2px 2px 10px var(--color-p), -2px -2px 10px var(--color-p);
    }

    100% {
        text-shadow: 2px 2px 30px var(--color-p), -2px -2px 30px var(--color-p);
    }
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .navbar {
        height: 6rem;
    }

    .nav-logo {
        width: 4rem;
    }

    .promo-bar {
        top: 6rem;
        height: 2rem;
    }

    .carousel {
        height: calc(100vh - 16rem);
    }

    .carousel-img {
        height: calc(100vh - 16rem);
    }

    .remove-promo {
        height: calc(100vh - 14rem);
    }

    #categories {
        scroll-margin-top: 11rem;
    }
}

@media (min-width: 992px) {
    .nav-wrapper {
        width: 60% !important;
    }
}

@media (min-width: 1400px) {
    .nav-wrapper {
        width: 50% !important;
    }
}